html {
  background-color: black;
}

p {
  color: white;
}

#testing {
  color: red;
}

#instructions {
  font-family: "Courier New", Times, serif;
  color: white;
  margin-left: 100px;
  font-size: 20px;
  position: absolute;
  top: 20px;
  height: 100px;
}

.instructions {
  font-family: "Courier New", Times, serif;
  color: white;
  margin-left: 5%;
  font-size: 18px;
  width: 90%;
}


@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100% 0}
}

#canvas {
  /* border-color: white;
  border-style: solid; */
}

#boss-1 {
  background-image: url("img/bklyn-br-bg.png");
  background-size: 1200px 450px;
  background-position: 0px 0px
}

.scrolling-bg {
  animation: backgroundScroll 8s linear infinite;
}

#container {
  background-color: black;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.stats {
  /* background-size: 750px 50px; */
  /* background-color: black; */
  color: white;
  float: right;
  margin-right: 50px;
}

button {
  width: 100px;
  height: 20px;
  background-color: rgba(0,0,0,0);
  border-color: #afff14;
  color: #afff14;
  border-radius: 5px;
  margin: 10px 5px 5px 5px;
}

button:hover {
  background-color: #afff14;
  color: black;
}

button:focus {
  outline-color: rgba(175, 255, 20, 0.2);
}

input {
  width: 180px;
  height: 20px;
  background-color: rgba(0,0,0,0);
  border-color: #afff14;
  border-style: groove;
  color: #afff14;
  margin: 10px 5px 5px 120px;
}

input:focus {
  outline-color: rgba(175, 255, 20, 0.2);
}

::placeholder {
  color: rgba(175, 255, 20, 0.5)
}


/******************************************
                MODALS!!!
******************************************/
#about-btn, #code-btn {
  /* color: white; */
  margin: 2vh;
  margin-left: 18vw;
  width: 15%;
  height: 10%;
  font-size: 2vh;
  padding: 0.5%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
