/* #canvas {
  border-color: black;
} */


#testing {
  color: red;
}

#instructions {
  font-family: "Courier New", Times, serif;
  color: white;
  margin-left: 100px;
  font-size: 20px;
  position: absolute;
  top: 20px;
}


@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100% 0}
}

#canvas {
  background-image: url('');
  background-size: 750px 450px;
  background-position: 0px 0px
  background-repeat: repeat-x;
}

#boss-1 {
  background-image: url("img/bklyn-br-bg.png");
  background-size: 1200px 450px;
  background-position: 0px 0px
}

.scrolling-bg {
  animation: backgroundScroll 8s linear infinite;
}

#container {
  background-color: black;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.stats {
  /* background-size: 750px 50px; */
  /* background-color: black; */
  color: white;
  float: right;
  margin-right: 50px;
}


/* .wrapper {
overflow: hidden;
}

#container {
background: url('img/bowling_green_5.png') repeat-x;
height: 560px;
width: 5076px;
animation: slide 60s linear infinite;
}

@keyframes slide{
0%{
  transform: translate3d(0, 0, 0);
}
100%{
  transform: translate3d(-1692px, 0, 0);
}
} */
